<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% load staticfiles %} {% static "images/logo.png" %}"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"></i>Varemas<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                                <li><a href="{% url 'plm.views.Varema_view' pk=2 %}">2014</a></li>
                                <li><a href="{% url 'plm.views.Varema_view' pk=1 %}">2015</a></li>
                                <li><a href="{% url 'plm.views.Varema_view' pk=3 %}">2016</a></li>
                        </ul>
		</li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"></i>Vins<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown"></i>Negres<b class="caret"></b></a>
                        		<li class="dropdown-menu">
					   <li><a href="{% url 'plm.views.Vins_view' pk=1 %}">Grillat</a></li>
					</li>
                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown"></i>Blancs<b class="caret"></b></a>
                        		<li class="dropdown-menu">
					   <li><a href="{% url 'plm.views.Vins_view' pk=2 %}">Clos Montblanc</a></li>
					</li>
                        </ul>
		</li>
                <li><a href="{% url 'plm.views.PreusVins_view' %}">Preus</a></li>
                <li><a href="{% url 'plm.views.Email_view' %}">Contacte</a></li>
		</li>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
